<<<<<<< HEAD
body{
     margin: 0;
     padding: 0;
     background-color: black;

}
  
header{
     background-image: url(../img/black_and_white.jpg);
     height: 100vh;
     background-size: cover;
     background-position: center center;
     color: white;
     font-family: arial;
}
.content{
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 100vh;
     text-align: center;

}

ul {
   position: fixed;
   top: 0;
   width: 100%;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow:no-content;
   background-color: black;
}

li {
   float: right;
   border-right: 1px solid #bbb;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}
li a:hover {
   background-color: grey;
   color: white;
}

li:first-child {
   border-right: 1px solid #bbb;
   float: left;
}

li:last-child {
   border-right: none;
   float: left;
}

footer{
     text-align: center;
     color: white;
}